name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4

        - name: Set up Python 3
          uses: actions/setup-python@v5
          with:
            python-version: "3.12"

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip poetry
            poetry export --with=dev --without-hashes -o requirements-dev.txt
            python -m pip install -r requirements-dev.txt
            python -m pip install .

        - name: Lint with ruff
          run: ruff check

        - name: Test with pytest
          run: |
            pytest -m 'not slow' -v
